
<!DOCTYPE html>

<html lang= "en">
   <head>
     <title>News Scraper</title>
     <meta charset="UTF-8">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <link rel="stylesheet" href="./assets/css/style.css" type="text/css" />
    </head>
<body>
     <nav>
       <div class="nav-wrapper">
         <a href="https://www.theguardian.com/theguardian/series/from-the-archive" class="brand-logo">The Guardian</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a id="getArticles">Scrape it</a></li>  
    </ul>
  </div>
</nav>

<nav class="nav-scrape">
           
         <a class="get" href="/scrape">Add Articles</a>
        </nav>
{{{ body }}}
  
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/script.js"></script>
</body>
</html>