
{{#each article}}

<a href="{{this.link}}">
<h1 class="center" id="Panda"><a href="{{this.link}}">{{this.title}}</a></h1>

<h2 class="center" id="title1">Getting News1</h2>

<h3 class="center" id="title2">Getting News2</h3>

<h4 class="center" id="title3">Getting News 3</h4ό>

{{/each}}



